:root {
    --color-nav: #1b249b;
    --color-negative: #000000;
    --font-regular: 'Open Sans', sans-serif;
    --color-dark: #6f6dda;
    --color-relaxed: #a8d1e7;
}

html {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.header {
    background-color: #6bb3e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0.8rem;
}

.header__nav {
    font-size: 1.1rem;
    font-family: var(--font-regular);
}

.header__nav .nav__element {
    color: var(--color-nav);
    padding-left: 0.4rem;
}

.header__nav .nav__element:hover {
    color: var(--color-negative);
}

.main-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-title2 {
    color: blue;
    font-weight: bold;
    color: blue;
    text-shadow: 2px 2px green;
    font-size: 2rem;
}